.header {
    background-color: #5cab7d;
    height: 100px;
    margin: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  
  h1 {
    margin: 0;
    text-align: left;
    margin-left: 20px; 
  }
  